<h1>Words</h1>
<table class="table table-stripped">
	<thead>
		<th>Text</th>
		<th>Letters</th>
		<th>Edit</th>
	</thead>
	<tbody>
		<% @words.each do |word| %>
			<tr>
				<td>
					<a href="<%= "/words/#{word.id}" %>"><%= "#{word.text}" %></a>
				</td>
				<td><%= word.letters %></td>
				<td> 
					<a href="<%= "/words/#{word.id}/edit" %>">Edit</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>