
	<h1>Add a word</h1>
	<h1 class="uppercase-bold">to our dictionary</h1>


<form action="/words" method="post" class="form">
	
	<label for="word">Enter the Word, Please! </label>
	<input type="text" name="word" />
	<input type="submit" value="Submit" class="btn" />
</form>