<h1>Word's display page</h1>

<p><span class="extra-large" id="underlined"><%= "#{@word.text}" %></span> </p>
<p> <img src="/images/arrow.png" />

<p><span class="extra-large"><%= "#{@word.letters}" %></span> </p> 

