
	<h1>welcome to our</h1>
	<h1 class="uppercase-bold">anagram generator</h1>


<form action="/" method="post" class="form">
	<label for="word">Enter the Word, Please! </label>
	<input type="text" name="word" />
	<input type="submit" value="Show Me My Anagrams" class="btn" />
</form>